.nav {
    grid-area: nav;
    background-color: blueviolet;
    padding: 1rem;
}

.nav__item {
    display: block;
    color: white;
    text-decoration: none;
}

.nav__item_active {
    color: gold;
}
