.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
            "header header"
            "nav content";
}

header {
    grid-area: header;
    background-color: azure;
}

header img {
    width: 50px;
    height: auto;
}

nav {
    grid-area: nav;
    background-color: beige;
}

nav a {
    display: block;
}

.content {
    grid-area: content;
    background-color: blanchedalmond;
}

.content img {
    max-width: 100%;
    height: auto;
}
